.bash_history
.bash_logout
.bashrc
.cache/
.config/
.fonts/
.gnome/
.gnupg/
.lesshst
.local/
.pki/
.profile
.ssh/
.sudo_as_admin_successful
.zcompcache/
.zcompdump
.zcompdump.dat
.zcompdump.zwc
.zhistory
.zim/
Desktop/
Downloads/
Pictures/
VMs/
snap/
.npm/
